%body
  .single-container
    / ヘッダー
    %header.single-header
      %h1
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :height => "49px", :src => "image/logo.svg", :width => "185px"}/
    %main.single-main
      .login-panel
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          = render "devise/shared/links"

        .login-form-inner
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.icon-facebook
            Facebookでログイン
          %button#google-login.btn-default.btn-sns.btn-sns-google
            Googleでログイン
          .login-form-inner
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-group
                = f.email_field :email, autofocus: true, autocomplete: "email", :class => 'login-input-text input-default', :placeholder => "メールアドレス"
              .form-group
                = f.password_field :password, autocomplete: "current-password", :class => 'login-input-text input-default', :placeholder => "パスワード"
              .form-group
                .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
                  %div{:style => "width: 304px; height: 78px;"}
                    %div
                      %iframe{:frameborder => "0", :height => "78", :name => "a-hhhk6w461ynk", :role => "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1552285980763&size=normal&cb=u1raow7hfcbj", :width => "304"}
                    %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
              .actions
                = f.submit "ログイン", :class => 'login-submit btn-default btn-red'
            %input{:name => "login_callback", :type => "hidden", :value => "https://www.mercari.com/jp/"}/
            %input{:name => "__csrf_value", :type => "hidden", :value => "40204fb350d4c122165332ea9a37da15a5eb514625ec4ea45e17c64d3eb8e97c376bf2268a1bf9c22976bb3f430c5e9bd818296db42410decd3d325ff20f80fc2"}/
            %a{:href => "https://www.mercari.com/jp/password/reset/start/"} パスワードをお忘れの方
      %form#login_form_facebook{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
        %input{:name => "__csrf_value", :type => "hidden", :value => "40204fb350d4c122165332ea9a37da15a5eb514625ec4ea45e17c64d3eb8e97c376bf2268a1bf9c22976bb3f430c5e9bd818296db42410decd3d325ff20f80fc2"}/
        %input{:name => "nickname", :type => "hidden", :value => ""}/
        %input{:name => "email", :type => "hidden", :value => ""}/
        %input{:name => "facebook_user_id", :type => "hidden", :value => ""}/
        %input{:name => "facebook_access_token", :type => "hidden", :value => ""}/
        %input{:name => "login_type", :type => "hidden", :value => "facebook"}/
        %input{:name => "login_callback", :type => "hidden", :value => "https://www.mercari.com/jp/"}/
      %form#login_form_google{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
        %input{:name => "__csrf_value", :type => "hidden", :value => "40204fb350d4c122165332ea9a37da15a5eb514625ec4ea45e17c64d3eb8e97c376bf2268a1bf9c22976bb3f430c5e9bd818296db42410decd3d325ff20f80fc2"}/
        %input{:name => "nickname", :type => "hidden", :value => ""}/
        %input{:name => "email", :type => "hidden", :value => ""}/
        %input{:name => "google_user_id", :type => "hidden", :value => ""}/
        %input{:name => "google_access_token", :type => "hidden", :value => ""}/
        %input{:name => "login_type", :type => "hidden", :value => "google"}/
        %input{:name => "login_callback", :type => "hidden", :value => "https://www.mercari.com/jp/"}/
      %input#google_client_id{:type => "hidden", :value => "238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com"}/
      %input#facebook_app_id{:type => "hidden", :value => "466308336793848"}/
    .wrapper
      %footer.single-footer
        %nav
          %ul.clearfix
            %li
              %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
        %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :height => "65", :src => "image/logo-gray.svg", :width => "80"}/
        %p
          %small © 2019 Mercari
  %script{:gapi_processed => "true", :src => "https://apis.google.com/js/api:client.js"}
  %script{:src => "//www-mercari-jp.akamaized.net/assets/js/app.js?1916285684"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'event': 'login',
      'uid': ''
    });
  / Google Tag Manager
  :javascript
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KLPT5L5');
  / End Google Tag Manager
  %iframe#ssIFrame_google{"aria-hidden" => "true", "frame-border" => "0", :sandbox => "allow-scripts allow-same-origin", :src => "https://accounts.google.com/o/oauth2/iframe#origin=https%3A%2F%2Fwww.mercari.com&rpcToken=276354077.6260198", :style => "position: absolute; width: 1px; height: 1px; left: -9999px; top: -9999px; right: -9999px; bottom: -9999px; display: none;"}
  #fb-root.fb_reset
    %div{:style => "position: absolute; top: -10000px; width: 0px; height: 0px;"}
      %div
      %div
        %iframe#fb_xdm_frame_https{:allow => "encrypted-media", :allowfullscreen => "true", :allowtransparency => "true", "aria-hidden" => "true", :frameborder => "0", :name => "fb_xdm_frame_https", :scrolling => "no", :src => "https://staticxx.facebook.com/connect/xd_arbiter/r/d_vbiawPdxB.js?version=44#channel=f354c14a2999fe8&origin=https%3A%2F%2Fwww.mercari.com", :style => "border: none;", :tabindex => "-1", :title => "Facebook Cross Domain Communication Frame"}
  %div{:style => "background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px; position: absolute; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 0; visibility: hidden; z-index: 2000000000; left: 0px; top: -10000px;"}
    %div{:style => "width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.05;"}
    .g-recaptcha-bubble-arrow{:style => "border: 11px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;"}
    .g-recaptcha-bubble-arrow{:style => "border: 10px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;"}
    %div{:style => "z-index: 2000000000; position: relative;"}
      %iframe{:frameborder => "0", :name => "c-hhhk6w461ynk", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/bframe?hl=ja&v=v1552285980763&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&cb=z5ta12lernex", :style => "width: 100%; height: 100%;", :title => "reCAPTCHA による確認"}
