%body
  .single-container
    / ヘッダー
    %header.single-header
      %h1
        %a{:href => ""}
          = image_tag "logo.svg"
    %main.single-main
      .login-panel
        .login-no-account
          .login-no-account-mercari
            %p アカウントをお持ちでない方はこちら
          .login-no-account-google_facebook
            = render "devise/shared/links"

        .login-form-inner
          .login-form-inner-record
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-group
                = f.email_field :email, autofocus: true, autocomplete: "email", :class => 'login-input-text input-default', :placeholder => "メールアドレス"
              .form-group
                = f.password_field :password, autocomplete: "current-password", :class => 'login-input-text input-default', :placeholder => "パスワード"
              .form-group
                .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
                  %div{:style => "width: 304px; height: 78px;"}
                    %div
                      %iframe{:frameborder => "0", :height => "78", :name => "a-hhhk6w461ynk", :role => "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1552285980763&size=normal&cb=u1raow7hfcbj", :width => "304"}
                    %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
              .actions
                = f.submit "ログイン", :class => 'login-submit btn-default btn-red'
            %input{:name => "login_callback", :type => "hidden", :value => "https://www.mercari.com/jp/"}/
            %input{:name => "__csrf_value", :type => "hidden", :value => "40204fb350d4c122165332ea9a37da15a5eb514625ec4ea45e17c64d3eb8e97c376bf2268a1bf9c22976bb3f430c5e9bd818296db42410decd3d325ff20f80fc2"}/
            %a{:href => "https://www.mercari.com/jp/password/reset/start/"} パスワードをお忘れの方
      %form#login_form_facebook{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
        %input{:name => "__csrf_value", :type => "hidden", :value => "40204fb350d4c122165332ea9a37da15a5eb514625ec4ea45e17c64d3eb8e97c376bf2268a1bf9c22976bb3f430c5e9bd818296db42410decd3d325ff20f80fc2"}/
        %input{:name => "nickname", :type => "hidden", :value => ""}/
        %input{:name => "email", :type => "hidden", :value => ""}/
        %input{:name => "facebook_user_id", :type => "hidden", :value => ""}/
        %input{:name => "facebook_access_token", :type => "hidden", :value => ""}/
        %input{:name => "login_type", :type => "hidden", :value => "facebook"}/
        %input{:name => "login_callback", :type => "hidden", :value => "https://www.mercari.com/jp/"}/
      %form#login_form_google{:action => "/jp/login/", :method => "POST", :novalidate => "novalidate"}
        %input{:name => "__csrf_value", :type => "hidden", :value => "40204fb350d4c122165332ea9a37da15a5eb514625ec4ea45e17c64d3eb8e97c376bf2268a1bf9c22976bb3f430c5e9bd818296db42410decd3d325ff20f80fc2"}/
        %input{:name => "nickname", :type => "hidden", :value => ""}/
        %input{:name => "email", :type => "hidden", :value => ""}/
        %input{:name => "google_user_id", :type => "hidden", :value => ""}/
        %input{:name => "google_access_token", :type => "hidden", :value => ""}/
        %input{:name => "login_type", :type => "hidden", :value => "google"}/
        %input{:name => "login_callback", :type => "hidden", :value => "https://www.mercari.com/jp/"}/
      %input#google_client_id{:type => "hidden", :value => "238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com"}/
      %input#facebook_app_id{:type => "hidden", :value => "466308336793848"}/
    .wrapper
      %footer.single-footer
        %nav
          %ul.clearfix
            %li
              %a{:href => ""} プライバシーポリシー
            %li
              %a{:href => ""} メルカリ利用規約
            %li
              %a{:href => ""} 特定商取引に関する表記
        %a.single-footer-logo{:href => ""}
          = image_tag "logo-gray.svg"
          %small ©&nbsp;2019&nbsp;Mercari
