/ 一番上のスクロール画像
%section.top
  .slider
    = image_tag '1cde8aaebb0c3936a55e3713d2877b8b.jpg', :class => "top__image"
    = image_tag '9d73db543cbc2756aebd1827d241aab8.jpg', :class => "top__image"
    = image_tag 'b153863c47d9c86c6fc52afca368f327.jpg', :class => "top__image"
    = image_tag 'd8726c8cc2de6abdc21ce8d639544f20.jpg', :class => "top__image"

/ メイン全体のラップ
%main.main
  %h1.main__pick-up ピックアップカテゴリー
  / 商品一覧全体のラップ
  %section.products
    / 商品,タイトルの行のラップ
    .products__title-product-col
      %h2.products__title
        %a{:href => ""} レディース 新着アイテム
      / 商品のみでの行ラップ
      .products__product-col
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
      .products__product-col
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
      .products__product-col
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
      .products__product-col
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
        / 個々の商品ラップ
        .products__product
          / 商品画像
          = image_tag 'off-b.jpg', :class => "product-image"
          / 商品名
          %p.products__product-text オフショルブラウス
          .products__product-info-wrap
            / 価格
            %p.products__price
              ￥ 1,500
              %br/
              %span.tax (税込)
            / いいね数
            %p.products__goods
              %i.fa.fa-heart-o
                %span.products__good-point 0
      %section.bottom
        = image_tag 'bottom-image.jpg', :class => "bottom-image"
      %a.sel-button{:href => ""}
        %p.sel-button-text 出品
        %i.fa.fa-camera
