= render :partial => "products/header"
= breadcrumbs pretext: "", separator: " &rsaquo; "
%section.top
  .slider
    = image_tag '1cde8aaebb0c3936a55e3713d2877b8b.jpg', :class => "top__image"
    = image_tag '9d73db543cbc2756aebd1827d241aab8.jpg', :class => "top__image"
    = image_tag 'b153863c47d9c86c6fc52afca368f327.jpg', :class => "top__image"
    = image_tag 'd8726c8cc2de6abdc21ce8d639544f20.jpg', :class => "top__image"
/ メイン全体のラップ
%main.main
  %h1.main__pick-up ピックアップカテゴリー
  / 商品一覧全体のラップ
  %section.products
    / 商品,タイトルの行のラップ
    .products__title-product-col
      %h2.products__title
        %a{:href => ""} レディース 新着アイテム
      / 商品のみでの行ラップ
      .products__product-col
        / 個々の商品ラップ
        -@products.each do |product|
          .products__product
            =link_to user_product_path(product.user, product), target: "_blank" do
              .product-image-folder
                = image_tag product.image, class: "product-image"
              - if product.sold == Product.statuses[:soldout]
                = image_tag("soldout.png", class: "main-sold")
              - else
              /商品の画像
              .products__product-bottom
                %p.products__product-text
                  = product.name
                  /商品の名前
                .products__product-info-wrap
                  %p.products__price
                    ¥
                    = product.price
                    %br/
                    %span.tax (税込)
                    /商品の値段
                  %p.products__goods
                    %i.fa.fa-heart-o
                      %span.products__good-point
                        0
      = paginate(@products)

      %section.bottom
        = image_tag 'bottom-image.jpg', class: "bottom-image"
      %a.sel-button
        =link_to "出品", new_product_path, class: "sel-button-text"
      - if user_signed_in?
        =link_to "" ,new_product_path, class: "fa fa-camera"
      - else
        =link_to "", new_user_session_path, class: "fa fa-camera"
= render :partial => "products/footer"

