%main.main-show
  / 商品名と取引実績
  %section.top-explanation
    %h1.top-explanation__title
      =@product.name
    .top-explanation__content
      =@product.name
      は、328回の取引実績を持つ
      =@user.nickname
      さんから出品されました。
      =@product.name
      の商品で、
      =@product.shipping
      から1~2日で発送されます。
  / 画像とテーブル
  %section.image-and-table
    = image_tag url_to_image(@product.image), class: "pstop-image"
    %table.pstable
      %tr
        %td.pstd.pstdl
        %td.pstd
          =@user.nickname
          %br/
          = image_tag("good.png", class: "image-and-table__image")
          = image_tag("soso.png", class: "image-and-table__image")
          = image_tag("bad.png", class: "image-and-table__image")
      %tr
        %td.pstd.pstdl カテゴリー
        %td.pstd
          レディース
          %br/
          ワンピース
          %br/
          ひざ丈ワンピース
      %tr
        %td.pstd.pstdl ブランド
        %td.pstd
          =@product.brand
      %tr
        %td.pstd 商品のサイズ
        %td.pstd
          =@product.size
      %tr
        %td.pstd.pstdl 商品の状態
        %td.pstd
          =@product.state
      %tr
        %td.pstd.pstdl 配送料の負担
        %td.pstd 送料込み(出品者負担)
      %tr
        %td.pstd.pstdl 配送の方法
        %td.pstd らくらくメルカリ便
      %tr
        %td.pstd.pstdl 配送元地域
        %td.pstd
          =@product.shipping
      %tr
        %td.pstd.pstdl 発送日の目安
        %td.pstd 2~3日で発送
  / 価格とボタン
  %section.price-and-button
    .price-and-button__price
      %span.price-and-button__yen>¥
      =@product.price
      (税込)送料込み
  / ユーザーが入力する商品説明
  %section.comment
    =@product.content
    = succeed "\u{3088}\u{308d}\u{3057}\u{304f}\u{304a}\u{9858}\u{3044}\u{3057}\u{307e}\u{3059}\u{3002}" do
      %br/
  / 安全面への考慮
.controll-table
  %a.red 商品の編集
  %p or
  %a 商品を一旦停止する
  =link_to 'この商品を削除する', product_path, method: :delete
