- breadcrumb :product, @product
%main.main-show
  / 商品名と取引実績
  %section.top-explanation
    %h1.top-explanation__title
      =@product.name
    .top-explanation__content
      =@product.name
      は、328回の取引実績を持つ
      =@user.nickname
      さんから出品されました。
      =@product.name
      の商品で、
      =@product.shipping
      から1~2日で発送されます。
  / 画像とテーブル
  %section.image-and-table
    = image_tag url_to_image(@product.image), class: "pstop-image"
    - if @product.sold == Product.statuses[:available]
    - else
      = image_tag("soldout.png", class: "sold")
    %table.pstable
      %tr
        %td.pstd.pstdl
        %td.pstd
          =@user.nickname
          %br/
          = image_tag("good.png", class: "image-and-table__image")
          = image_tag("soso.png", class: "image-and-table__image")
          = image_tag("bad.png", class: "image-and-table__image")
      %tr
        %td.pstd.pstdl カテゴリー
        %td.pstd
          レディース
          %br/
          ワンピース
          %br/
          ひざ丈ワンピース
      %tr
        %td.pstd.pstdl ブランド
        %td.pstd
          =@product.brand
      %tr
        %td.pstd 商品のサイズ
        %td.pstd
          =@product.size
      %tr
        %td.pstd.pstdl 商品の状態
        %td.pstd
          =@product.state
      %tr
        %td.pstd.pstdl 配送料の負担
        %td.pstd 送料込み(出品者負担)
      %tr
        %td.pstd.pstdl 配送の方法
        %td.pstd らくらくメルカリ便
      %tr
        %td.pstd.pstdl 配送元地域
        %td.pstd
          =@product.shipping
      %tr
        %td.pstd.pstdl 発送日の目安
        %td.pstd 2~3日で発送
  / 価格とボタン
  %section.price-and-button
    .price-and-button__price
      %span.price-and-button__yen>¥
      =@product.price
      (税込)送料込み
    %ruby.sold-product-bottom
      - if @product.sold == Product.statuses[:available]
        = button_to '購入画面に進む', conform_user_product_path(@product.user_id,@product.id),class: "price-and-button__submit",:method => :get
      - else
        %button.price-and-button__submit__sold{:type => "submit"}/
        %p SOLD OUT

  / ユーザーが入力する商品説明
  %section.comment
    =@product.content
    = succeed "\u{3088}\u{308d}\u{3057}\u{304f}\u{304a}\u{9858}\u{3044}\u{3057}\u{307e}\u{3059}\u{3002}" do
      %br/
  / 安全面への考慮
  %section.secure
    %p.secure__good
      %span.fa.fa-heart
      いいね！0
    %p.secure__bad-product
      %span.fa.fa-flag
      不適切な商品の報告
    %p.secure__action
      %span.fa.fa-lock
      あんしん・あんぜんへの取り組み
  / 隣接商品へのリンク
  %section.back-next-links
    %p.back-next-links__back-link
      &lt; ☆オーガンジー巾着袋（大）☆20枚セット
    %p.back-next-links__next-link
      SONY NEX5R 標準レンズ、外付けストロボ、箱付き &gt;
  / SNSサイトへのリンク
  %section.sns-links
    .sns-links__wrap
      = image_tag( "https://i.gyazo.com/c7e3149fe7b2f31ce00066cd9455b761.png", alt: "Image from Gyazo")
      = image_tag( "https://i.gyazo.com/d98f61c1eab7367b329f40664037cfbb.png", alt:"Image from Gyazo")
      = image_tag( "https://i.gyazo.com/2b85b97bf69c3c1173ada2b13473490b.png", alt:"Image from Gyazo")
  .sns-links-bottom
  %section.other-products
    / 同一ユーザーの他の商品
    %h2.other-products__same-user
      =link_to do
        =@user.nickname
        さんの他の出品
    / 商品の行
    .other-products__product-col
      / 個別の商品
      -@products.each do |product|
        .products__product
          =link_to user_product_path(product.user, product), target: "_blank" do
            = image_tag url_to_image(product.image), :class => "product-image"
            - if product.sold == Product.statuses[:soldout]
              = image_tag("soldout.png", class: "main-sold")
            - else
            /商品の画像
            .products__product-bottom
              %p.products__product-text
                = product.name
                /商品の名前
              .products__product-info-wrap
                %p.products__price
                  ¥
                  = product.price
                  %br/
                  %span.tax (税込)
                  /商品の値段
                %p.products__goods
                  %i.fa.fa-heart-o
                    %span.products__good-point
                      0
                    /商品のいいね！数
