!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TeamB46Mercari
    = csrf_meta_tags
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/




  %body
    %header

      .header-inner
        .header-inner__top
          .header-inner__top__left
            %a{:href => "https://gyazo.com/75329b28b2f5185097c4a3fac552c817"}
            %img{:alt => "Image from Gyazo", :src => "https://i.gyazo.com/75329b28b2f5185097c4a3fac552c817.png", :width => "148"}/
          .header-inner__top__right
            %input{:name => "keyword", :placeholder => "キーワードから探す", :type => "search"}/
            %span.fa.fa-search
        .header-inner__bottom
          .header-inner__bottom__left
            %a カテゴリーから探す
            %a ブランドから探す
          .header-inner__bottom_right
            %a
              %span.fa.fa-user-circle>
              マイページ
            %a
            %span.fa.fa-bell>
            お知らせ
            %a
            %span.fa.fa-check>
            やることリスト


      = link_to "ログアウト", destroy_user_session_path, method: :delete
      %div{:class => "“header-inner”"}
        %div{:class => "“header-inner__top”"}
          %div{:class => "“header-inner__top__left”"}
            %a{:href => "“https://www.mercari.com/jp/“"}
              %img{:alt => "“mercari”", :height => "“36\"", :src => "“//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2845599746”", :width => "“134”"}/
          %div{:class => "“header-inner__top__right”"}
            %form
              %input{:name => "“keyword”", :placeholder => "“キーワードから探す“", :type => "“search”", :value => "“”"}/
        %div{:class => "“header-inner__bottom”"}
    = yield

    %footer
      .footer__lists
        .footer__list
          %p メルカリについて
          %a 会社概要(運営会社)
          %a プライバシーポリシー
          %a メルカリ利用規約
          %a 有償ポイントに関する特約
          %a あんしんスマホサポート制度に関する利用特約
          %a コンプライアンスポリシー
          %a 個人データの安全管理に係る基本方針
          %a 特定商取引に関する表記
          %a 資金決済法に関する表記
          %a 法令順守と犯罪防止のために
          %a 採用情報
        .footer__list
          %p メルカリを見る
          %a カテゴリー一覧
          %a ブランド一覧
          %a 出品地域一覧
          %a 公式ブログ
          %a 公式Twitter
          %a 公式Facebook
        .footer__list
          %p ヘルプ&amp;ガイド
          %a メルカリガイド
          %a メルカリロゴ利用ガイドライン
          %a お知らせ
          %a らくらくメルカリ便とは
          %a ゆうゆうメルカリ便とは
          %a 大型らくらくメルカリ便とは
          %a 車体取引ガイド
          %a 返品・返金ポリシー
          %a メルカリあんしん・あんぜん宣言!
          %a 偽ブランド品撲滅への取り組み
          %a メルカリボックス
        .footer__list
          %p 国
          %a{:href => "https://gyazo.com/f122afce3aa66cbd500477b5e7f30fda"}
            %img{:alt => "Image from Gyazo", :src => "https://i.gyazo.com/f122afce3aa66cbd500477b5e7f30fda.png", :width => "25"}>/
            United States
          %a{:href => "https://gyazo.com/c2a04c3aaf419d0fa08e00f415ef55f0"}
            %img{:alt => "Image from Gyazo", :src => "https://i.gyazo.com/c2a04c3aaf419d0fa08e00f415ef55f0.png", :width => "29"}>/
            United Kingdom
          %a{:href => "https://gyazo.com/a258c51db2610345996688abc1f34268"}
            %img{:alt => "Image from Gyazo", :src => "https://i.gyazo.com/a258c51db2610345996688abc1f34268.png", :width => "26"}>/
            日本
        .clearfix
        %a.footer__logo{:href => "https://gyazo.com/84a8c4d975f4449abb2b4173b109694c"}
          %img{:alt => "Image from Gyazo", :src => "https://i.gyazo.com/84a8c4d975f4449abb2b4173b109694c.png", :width => "167"}/
        %p.footer__copyright
          %small ©︎ 2019 Mercari

